Take Input(length & breadth) from the user and print the area of the rectangle.

In [9]:
l=float(input("enter lenght"))
b=float(input("enter breadth"))
area =l*b
print(f"Area= {area}")

enter lenght 3
enter breadth 4

Area= 12.0

An employee wants to count the total experience in years  he has by itself, to help him find his experience in the number of months and days (assuming each month is  of 30 days). 
             Eg - Number of days =98 , 
             Experience = 3 months and 8 days.

In [17]:
td=int(input("enter number of days"))
months=td//30
days=td%30
print(f"Experience = {months} months and {days} days.")

enter number of days 127

Experience = 4 months and 7 days.

Enter a number and find its square root.

In [25]:
a=float(input("enter a number"))
b=a**0.5
#ALTERNATE
c=pow(a,0.5)
print(f"square root = {b} \n {c}")

enter a number 4

square root = 2.0
 2.0

Ask User for two numbers and raise one to the power of another

In [33]:
a=float(input("enter first number"))
b=float(input("enter secomd number that will become power of previous number"))
c=a**b
print(f"the answer is {c}")

enter first number 5
enter secomd number that will become power of previous number 2

the answer is 25.0

Ask the user to enter the time in seconds and convert it into hours, minutes, and seconds.*

In [39]:
t=int(input("enter time in seconds"))
hours=t//3600
r1=t%3600
minutes=r1//60
sec=minutes%60
print(f"time = {hours} hours , {minutes} minutes , {sec} seconds")

enter time in seconds 3783

time = 1 hours , 3 minutes , 3 seconds

Input the principal, rate of interest, and time in years, then calculate and print the simple interest.

In [43]:
p=float(input("enter principal amount"))
r=float(input("enter rate of interest per annum"))
t=float(input("enter years for which interest is to be calculated for"))
si=(p*r*t)/100
print(f"SI = {si}")

enter principal amount 1000
enter rate of interest per annum 10
enter years for which interest is to be calculated for 3

SI = 300.0

 # TUPLE

In [93]:
a=[1,2,3,4,5,"kartik",6,7,8,9,10]

In [95]:
print(a)
print (id(a))

[1, 2, 3, 4, 5, 'kartik', 6, 7, 8, 9, 10]
2513389293568

In [97]:
print(a[3])  #print particular element

4

In [99]:
#slicing
print(a[2:6])
print (a[3:8])
print(a[:6])
print (id(a))

[3, 4, 5, 'kartik']
[4, 5, 'kartik', 6, 7]
[1, 2, 3, 4, 5, 'kartik']
2513389293568

In [101]:
a[5]="nagarkoti"  #replace element
print (a)

[1, 2, 3, 4, 5, 'nagarkoti', 6, 7, 8, 9, 10]

In [103]:
#insert at particular palce
a.insert(5,"kartik")
print(a)

[1, 2, 3, 4, 5, 'kartik', 'nagarkoti', 6, 7, 8, 9, 10]

In [105]:
#append (add at last)
a.append("end")
print(a)

[1, 2, 3, 4, 5, 'kartik', 'nagarkoti', 6, 7, 8, 9, 10, 'end']

In [107]:
#remove element by name
a.remove("kartik")
print (a)

[1, 2, 3, 4, 5, 'nagarkoti', 6, 7, 8, 9, 10, 'end']

In [109]:
#remove by index number
a.pop(2)
print (a)

[1, 2, 4, 5, 'nagarkoti', 6, 7, 8, 9, 10, 'end']

In [117]:
#sort assending
a=[3,5,2,8,34,21,54]
a.sort()
print(a)
#decending
a.sort(reverse = True)
print(a)

[2, 3, 5, 8, 21, 34, 54]
[54, 34, 21, 8, 5, 3, 2]

In [119]:
#note: for sorting datatype in list should be same like only numbers or only strings

# DICTIONARY

In [9]:
var={ "roll":[1,2,3,4],"name":["a","b","c","d"], "sub":["x","y",'z']}
print(var)

{'roll': [1, 2, 3, 4], 'name': ['a', 'b', 'c', 'd'], 'sub': ['x', 'y', 'z']}

In [7]:
var1={ "roll":[1,2,3,4], "roll":[4,5,6]}
print(var1)

{'roll': [4, 5, 6]}

In [19]:
print(var["roll"])#called by key

[1, 2, 3, 4]

In [31]:
#can perform all commands of list
var["sub"].append("p")
print (var)

{'roll': [1, 2, 3, 4], 'name': ['a', 'b', 'c', 'd'], 'sub': ['x', 'y', 'z', 'p']}

In [11]:
var.update({"city":["g",'h','i','j'],"dob":[]})
print(var)

{'roll': [1, 2, 3, 4], 'name': ['a', 'b', 'c', 'd'], 'sub': ['x', 'y', 'z'], 'city': ['g', 'h', 'i', 'j'], 'dob': []}

In [13]:
#DELETE PARTICULAR KEY
del var["dob"]
print(var)

{'roll': [1, 2, 3, 4], 'name': ['a', 'b', 'c', 'd'], 'sub': ['x', 'y', 'z'], 'city': ['g', 'h', 'i', 'j']}

In [3]:
#delete dictionary
var2={"roll":[4,5,6]}
print(var2)
del var2 #whole var is deleted
print(var2)

{'roll': [4, 5, 6]}

NameError: name 'var2' is not defined

In [3]:
stu=int(input('enter no. of students'))
days=int(input('enter no. of days'))
students={}
for i in range(stu):
    name=input('enter student name')
    students[name]=[]
print("enter attendence : a for absent and p for present")
for i in students:
    while True:
        attendence=input(f'enter attendence for {i}').upper()
        if (len(attendence.split())==days):
            students[i]=attendence.split()
            break
        else:
            print(f'enter {days} days attendence')
print(students)

enter no. of students 3
enter no. of days 2
enter student name jj
enter student name iikk
enter student name jj

enter attendence : a for absent and p for present

enter attendence for jj p p p\

enter 2 days attendence

enter attendence for jj p p
enter attendence for iikk p p

{'jj': ['P', 'P'], 'iikk': ['P', 'P']}