# loop

## for

## range(start,end,jump)

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(7,27,4):
    print (i)

7
11
15
19
23

In [31]:
#list
a=[1,34,56,76,54,32,4,5,6]
for i in range(0, len(a), 3):
    print(a[i])

1
76
4

In [27]:
len(a)

9

Print all the odd numbers till n(asked from user).

In [43]:
a=int(input('enter till u want odd number'))
for i in range(1,a+1,2):
    print(i)

enter till u want odd number 9

1
3
5
7
9

Print all the  even numbers in reverse order from 50-0.

In [47]:
for i in range(50,-1,-2):
    print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2
0

Print a series like 7,-11,15,-19……. Till 10th terms.

In [59]:
#important 
k=1
for i in range(7,44,4):
    if(k%2==0):
        print(i*(-1))
    else:
        print(i)
    k=k+1

7
-11
15
-19
23
-27
31
-35
39
-43

Print the Series 5,6,8,11,15,20 ……… till n terms.

In [71]:
a=int(input('enter range u want series for'))
k=5
for i in range(a+1):
    k=k+i
    print (k, end=' ')

enter range u want series for 10

5 6 8 11 15 20 26 33 41 50 60

Print fibonacci series.(0,1,1,2,3,5,8...)

In [9]:
r=int(input('enter range'))
a=0
b=1
for i in range(r):
    print(a, end="  ")
    temp=a+b
    a=b
    b=temp

enter range 10

0  1  1  2  3  5  8  13  21  34

Print the sum of Series 2,22,222,2222,22222 till n terms.

In [13]:
r=int(input("enter range"))
a=2
for i in range(r):
    print(a)
    temp=a*10+2
    a=temp

enter range 10

2
22
222
2222
22222
222222
2222222
22222222
222222222
2222222222

Print the following pattern.
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
r=int(input('enter number of row u want'))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter number of row u want 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Print Pattern 
1
2 2
3 3 3 
4 4 4  4
5 5 5 5 5

In [3]:
r=int(input('enter number of row u want'))
for i in range(1,r+1):
    for j in range(i):
        print (i, end=' ')
    print()

enter number of row u want 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

print Pattern
1
1 2 1
1 2 3 2 1 
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [1]:
r=int(input('enter no. of rows'))
for i in  range(1,r+1):
    for j in range(1,i+1):
        print (j,end=" ")
        if(i==j):
            for k in range(j-1,0,-1):
                print(k, end=" ")
    print()  #if(i==j)

enter no. of rows 6

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1